* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-image: linear-gradient(rgb(196, 218, 205), rgb(193, 238, 193));
}

.gridContainer {
    width: 800px;
    height: 800px;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    background-color: white;
}

.divPixel {
    aspect-ratio: 1 / 1;
    
    border: 1px solid transparent;
    flex-grow: 1;
}

.break {
    height: 0px;
    flex-basis: 100%;
}

button {
    margin-top: 20px;
    border: none;
    height: 50px;
    width: 200px;
    background-color: #19331A;
    color: white;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    filter: brightness(0.7);
}

.darker {
    background: rgba(0, 0, 0, 0.5); /* Black with 50% transparency */
}